*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h2{
    font-size: 1.3125rem;
    margin: 0;
}

h1 + p{
    color: #f18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p{
    color: #f18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text{
    font-size: 0.625rem;
    margin: 0;
    padding-top: 2px;
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #f18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

.fine-print{
    font-size: 0.625ren;;
    letter-spacing: 1px;;
}

strong{
    font-weight: 900;
}

.intro{
    background-color: #404040;
    background-image: url(/BBQsplash/img/bbq.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.main-contnet{
    padding: 2em 1em; 
}

.intro > *, .main-content > *{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.elail-collector{
    width: 80%;
    max-width: 300px;
}

input, .btn{
    width: 100%;
    border-radius: 5px;
}
input{
    margin-bottom: .75em;
    font-family: inherit;
    text-align: inherit;
    padding: .25em;
    border: 1px solid #404040;
}

.btn{
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    border: 0;
}

.btn-primary{
    background-image: linear-gradient(to left, #ff713b, #ffa51d);
    color: #fff;
    /*transition: color 500ms;*/
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover{
    /*color: #000;*/
    transform: scale(1.1);
}

@media(min-width: 500px){
    body{
        font-size: 1.125rem;
        display: flex;
    }
    h1{
        font-size: 3.5rem;
    }
    h2, h1 + p{
        font-size: 1.75rem;
    }
    .intro, .main-contnet{
        width: 50%;
        height: 100vh;
    }
    .main-contnet{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}